* {
  box-sizing: border-box;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-container {
  width: 60%;
  margin: 40px auto 0;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.text-right {
  text-align: right;
}

.form-label {
  display: block;
  margin-bottom: 1em;
}

.form-label > .form-control {
  margin-top: 0.5em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  line-height: 1.5;
  border: 1px solid #ddd;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar {
  padding : 0.5%;
  width: 100%;
  margin-top: -4.5%;
  z-index: 5;
  position: fixed;
}
.navbar-default {
  background-color: #59b6a1;
  border-color: #df6c12;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbfdd4;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbfdd4;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #59b6a1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fbfdd4;
  background-color: #df6c12;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #df6c12;
}
.navbar-default .navbar-nav .open .dropdown-menu > .activeClass > a,
.navbar-default .navbar-nav .open .dropdown-menu > .activeClass > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .activeClass > a:focus {
  color: #fbfdd4;
  background-color: #df6c12;
}
.navbar-default .navbar-nav > .activeClass > a,
.navbar-default .navbar-nav > .activeClass > a:hover,
.navbar-default .navbar-nav > .activeClass > a:focus {
  color: #fbfdd4;
  background-color: #df6c12;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbfdd4;
  background-color: #df6c12;
}
.navbar-default .navbar-toggle {
  border-color: #df6c12;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #df6c12;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fbfdd4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbfdd4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfdd4;
    background-color: #df6c12;
  }
}
.post-request {
  margin-right: -55%;
}

.brand {
  top: -22%;
  margin-top: -5%;
  padding-top: 0%;
}
input.date-picker[readonly] {
  background-color: white;
}
